.auth-redirect-container{

}

.auth-redirect-div{
    margin: 1rem 0;
}

.auth-redirect-p{
    margin: 0;
    font-size: 1rem;
}

.auth-redirect-p span{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bolder;
}