.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    }
  
  .navbar {
    height: 60px;
    background-color: var(--gbdarkerforeground-colour);
    position: relative;
  }
  
  .logo {
    margin: 0;
  }
  
  .menu-icon {
    display: none;
  }
  
  .nav-elements {
  }
  
  .nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .nav-elements ul li:not(:last-child) {
    margin-right: 60px;
  }
  
  .nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: var(--gbfontcolor);
    text-decoration: none;
  }
  
  .nav-elements ul a.active {
    color: var(--gbfontcolor);
    font-weight: 500;
    position: relative;
  }
  
  .nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;

    //link underline
    background-color: var(--gbfontcolor);
  }
  
  @media (max-width: 768px) {
    .nav-elements ul li:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  @media (max-width: 600px) {
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  
    .nav-elements {
      position: absolute;
      right: 0;
      top: 60px;

      //background of the sliding bar
      background-color: var(--gbdarkerforeground-colour);
      width: 0px;
      height: calc(100vh - 60px);
      transition: all 0.3s ease-in;
      overflow: hidden;
    }
  
    .nav-elements.active {
      width: 270px;
    }
  
    .nav-elements ul {
      display: flex;
      flex-direction: column;
    }
  
    .nav-elements ul li {
      margin-right: unset;
      margin-top: 22px;


    }
  }

  .header-links li{
    display: flex;
    align-items: center;
  }

.signout-button{
  font-size: 1rem;
  letter-spacing: 2px;
  // background-color: var(--gbforeground-colour);
  background-color: var(--gbdarkerforeground-colour);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--gbfontcolor);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px 2px 2px 0px 0px 3px 3px 0px 0px 4px 4px 0px 0px 5px 5px 0px 0px;
}


// pls come back and style this rubbing gee, plsssssss
.navbar-signout-button{
  border: solid 2px black;
  padding: 0.2rem;
}