@use '../utils';

html{
    box-sizing: border-box;
    font-size: 100%;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family:utils.$font ;
    background-color: var(--gbforeground-colour);
    color: var(--gbfontcolor);
}