:root{
    --background-colour:rgb(36, 13, 13);
    --text-colour:white;

    //gruvbox theme color-scheme
    --gbdarkerforeground-colour:#a89984;
    --gbforeground-colour:#d5c4a1;
    --gbbackground-colour: #282828;


    --gbfontcolor:#282828;

    //redline and logo
    --gbdetailh1: #d65d0e;



    --gbgreen:#98971a;
    --gbred:#cc241d;
    --gbdarkerorange:#d65d0e;
    --gborange:hsl(27, 87%, 34%);
    --gbaqua:#689d6a;
}
