:root{
    --background-colour:rgb(36, 13, 13);
    --text-colour:white;

    //gruvbox theme color-scheme
    --gbforeground-color:#a89984;
    --gbbackground-colour: #282828;
    --gbgreen:#98971a;
    --gbred:#cc241d;
    --gborange:#d65d0e;
    --gbaqua:#689d6a;
}
