// font-family: 'Righteous', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;



h1,h2,h3{
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

h1{
    font-size: clamp(28px , 16px + 2vw , 40px);
}

p{
    margin-top: 0;
    font-size: clamp(12px , 1.2vw , 20px);
}

a,a:visited,a:active{
    text-decoration: none;
}