.auth-outer-container{
    height: 100%;
    width: 100%;
}

.auth-main{
    height: 98%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    //border: 5px solid red;
}

.auth-container{
    display: flex;
    flex-direction: column;
    // border: 3px solid red;
    margin-inline: auto;
    width: min(80% - 20px , 500px);

    //justify and align stuff
    justify-content: center;
    align-items: center;   
}

.auth-body{
    display: flex;
    flex-direction: column;
    width: 60%;

    //justify and align stuff
    justify-content: center;
    align-items: center;
}

.auth-button{
    //border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form{
    height: 100%;
    width: 100%;
}

.input-div {
    margin: 1rem 0;   
}

.input-div input{
    width: 100%;
    padding: 12px 20px;

    border: 2px solid var(--gbfontcolor);
    background-color: var(--gbforeground-colour);

    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input-div input:focus{
    border:2px solid var(--gborange);
    // outline-color: ;
} 